<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action=" " method="post">
        {% csrf_token %}
        id:<input type ="text" name="txtid" placeholder="entear id"value="{{res.id}}"><br>
        Category:<input type="text" name="txtt" placeholder="Category" value="{{res.Category}}"><br><br>
        Rent:<input type="text" name="txtd" placeholder="Rent" value="{{res.Rent}}"><br><br>
        Location:<input type="text" name="txte" placeholder="Location" value="{{res.Location}}"><br><br>
        description:<input type="text" name="txtte" placeholder="description"value="{{res.description}}"><br><br>
        <input type="submit"name="btnsubmit" value="Delete"/>
        <br><br>
        </form>
</body>
</html>